# Environments
.env
.env.generated
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# VS Code / IDEs
.vscode/
.idea/
*.swp
*.swo

# OS Data
.DS_Store
Thumbs.db

# Lab testing notes (private)
LabLessons.md
